.splash {
  min-height: 50vh;  
  /* https://picsum.photos/id/1025/2000/1000 */
  background-image: url("https://i.picsum.photos/id/1025/2000/1000.jpg?hmac=908ZFWec0aZdO35sTZiAA6UhZuIiKNkXQ581ZDd7AeU");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.splash h1 {
  color: white;
  text-shadow: 1px 1px 20px black;
}