// Layout
// ======================================================
// ======================================================
$container-max-width: 60rem;

// Spacers
// ======================================================
$spacer-1: 0.5rem;
$spacer-2: 1rem;
$spacer-3: 1.5rem; // ---> prefer this
$spacer-4: 3rem;
$spacer-5: 8rem;

// Colors
// ======================================================
// ======================================================
$blue: #004bff;
$black:#0f141e;
$green:#00fac8;
$gray: #7e838f;